<!-- Footer -->
<footer class="py-3 mt-5">
    <!-- <p class="text-center">GoDoc</p> -->
    <div class="container">
        <div class="footer_container d-flex justify-content-between flex-wrap">
            <div class="footer_content">
                <ul>
                    <h3 class="footer_title">Go-Doc</h3>
                    <li>
                        <i class="fas fa-phone-square"></i> +62 800-1111-2222
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i> godoc.id
                    </li>
                </ul>
            </div>

            <div class="footer_content">
                <ul>
                    <h3 class="footer_title">TENTANG</h3>
                    <li>Profile Perusahaan</li>
                    <li>Go-Doc Karir</li>
                </ul>
            </div>

            <div class="footer_content text-white">
                <ul>
                    <h3 class="footer_title">CUSTOMER SERVICE</h3>
                    <li>FAQ</li>
                </ul>
            </div>

            <div class="footer_content">
                <ul>
                    <h3 class="footer_title">QUICK LINK</h3>
                    <li>Lokasi Rumah Sakit</li>
                    <li>Gabung Partner</li>
                </ul>
            </div>
        </div>
    </div>
</footer>