<div class="container" id="main-container" >
  <div class="row d-flex mb-3 mt-4">
    <div *ngIf="penelusuran" class="col ms-5">
      <p style="margin-left: 5px; font-size: medium;">Hasil pencarian berdasarkan kata kunci:
        <span >Kategori: {{t.name}}</span>
        <span >, Kata Kunci: semua obat </span>
        <span >, Hanya cari: semua obat, </span>
        <!-- *ngIf="t.kategori !=''"
        *ngIf="t.katakunci !=''"
        *ngIf="t.jenisobat!=''" -->
      </p>
    </div>
    <div class="col">
      <button *ngIf="hiden" type="button" style="background-color: #4ea1c4; color: #fff;"
        class="btn btn-outline-primary float-end" data-toggle="collapse"
        (click)="openCariObatModal(null!!, 'UlangCari')">
        Ulangi pencarian</button>
    </div>
    <div class="row flex-wrap">
      <p *ngIf="keranjang.length==0 && penelusuran ==true" class="my-4 "
        style="font-size:30px;text-align: center;justify-content: center;">Tidak Produk sesuasi dengan Pencarian</p>
    </div>

  </div>
  <!-- *ngIf="keranjang.length!=0" -->
  <div  class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 50px;">
    <div *ngFor="let d of temptampilan index as i" class="col">
      <div class="card card-cari"
        style="border: 1px solid #4ea1c4; border-radius: 15px 30px 15px; background-color: rgb(230, 255, 255);">
        <div class="row">
          <div class="col gambar">
            <img src="../../../assets/obat/{{d.image_path}}" class="card-img-top" alt="..."
              style="width: 150px; height:150px; border : 2px solid #4ea1c4; margin-bottom: 20px; margin-left: 5px; border-radius: 15px 50px 30px;margin-top: 10px;">
          </div>
          <div class="col">
            <h1 class="card-text" style="margin: 20px 0 5px; text-transform: capitalize; width: fit-content;">{{d.name}}
            </h1>
            <h4 class="card-text" style="font-weight: 300; margin-bottom: 0px;"> per {{d.packaging}}</h4>
            <h4 class="card-text" style="font-weight: 500; ">Rp.{{d.price_min}} - Rp.{{d.price_max}}</h4>
          </div>
        </div>

        <p class="card-text keterangan" style="height: 50px;">{{d.indication}}</p>
        <!-- <div class="card-body">
        </div> -->
        <div class="row">
          <div class="col">

            <button type="button" style="background-color: #4ea1c4; margin-left: 50px; margin-bottom: 10px;" class="btn btn-primary detail"
              data-toggle="collapse" (click)="openCariObatModal( null!!,'detail')">detail </button>

            <button id="button" type="button" style="background-color: #4ea1c4; margin-left: 50px; margin-bottom: 10px;" class="btn tambahkeranjang"
              data-toggle="collapse" (click)="onTambahKeranjang( i ,'tambahkeranjang')"
              [hidden]="statuskeranjang[(page-1)*4+i]">
              Tambah ke keranjang </button>

            <button id="button" type="button" style="background-color: #4ea1c4; margin-left: 50px; margin-bottom: 10px;" class="btn btn-primary simbol"
              data-toggle="collapse" (click)="onTambahKeranjang(i,'kurang')" [hidden]="!statuskeranjang[(page-1)*4+i]">
              - </button>
            <a class="simbol" style="margin-left: 50px; margin-bottom: 10px;" [hidden]="!statuskeranjang[(page-1)*4+i]">{{jumlah[(page-1)*4+i]}}</a>
            <button id="button" type="button" style="background-color: #4ea1c4;margin-left: 50px; margin-bottom: 10px;" class="btn btn-primary simbol"
              data-toggle="collapse" (click)="onTambahKeranjang( i,'tambah')" [hidden]="!statuskeranjang[(page-1)*4+i]">
              + </button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div *ngIf="keranjang.length !=0" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button [disabled]="page<=1" type="button" style="background-color:#4ea1c4; margin-top: 20px; color: #fff;"
      class="btn btn-outline-primary " data-toggle="collapse" (click)="openCariObatModal( null!!,'halsebelumnya')">
      Sebelumnya </button>
    <button [disabled]="page>=maxpage" type="button" style="background-color:#4ea1c4; color: #fff; margin-top: 20px;"
      class="btn btn-outline-primary" data-toggle="collapse" (click)="openCariObatModal( null!!,'halberikutnya')">
      Selanjutnya </button>
  </div>
  <div *ngIf="keranjang.length !=0" class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 30px;">
    Menampilkan halaman {{page}} dari {{maxpage}}
  </div>


  
</div>
<div style="width: 100%;">
  <!-- *ngIf="keranjang.length !=0 && penelusuran" -->
  <!-- *ngIf="footer" -->
  <div  class="row d-flex" >
    <div  class="col d-flex" style="background-color: #ceecf8; align-items: center;height: 100px;">
      <h2 class="bawah" style="margin-left: 150px;">1 Produk</h2>
      <h2 class="bawah" style="margin-left: 40px;">|</h2>
      <h2 class="bawah" style="margin-left: 40px">Estimasi Harga :</h2>
      <h2 class="bawah" style="margin-left: 20px"> {{jumlahhargastr}}</h2>

    </div>
    <!-- *ngIf="footer" -->
    <div  class="col float-end" style="background-color: #ceecf8; align-items: center; height: 100px;">
      <button type="button" style="background-color: #4ea1c4; margin-right: 150px; margin-top: 30px;" class="btn btn-primary float-end"
        data-toggle="collapse" (click)="onTambahKeranjang(null!!,'beli')">
        Keranjang saya </button>
    </div>




  </div>
</div>


<!-- modal untuk bayar -->
<div id="maubayarModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ceecf8;">
        <h2 class="modal-title" style="margin-top: 10px; margin-bottom: 0px;  color: black;">Keranjang saya</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Produk</th>
            <th scope="col" style="width: fit-content;">Harga satuan</th>
            <th scope="col">Jumlah produk</th>
            <th scope="col">Jumlah</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of keranjangfix index as i" style="text-transform: capitalize;">
            <th scope="row">{{i+1}}</th>
            <td>{{k.name}}</td>
            <td>{{k.price_max}}</td>
            <td style="text-align: center;">{{jumlahsatuan[i]}}</td>
            <td>{{k.price_max*jumlahsatuan[i]}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <a style="margin-left: 20px;">Total Harga Belanjaan Anda <span><a>{{jumlahhargastr}}</a></span></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" (click)="onTambahKeranjang(null!!,'fixbeli')">Beli</button>
      </div>
    </div>
  </div>
</div>




<!-- modal untuk pop up -->
<div class="modal fade" id="cariobatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title modal-title-login" id="exampleModalLabel">Cari obat dan Alat kesehatan</h1>
        <button type="button" id="close-login" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- name="form" #addForm="ngForm" (ngSubmit)="ulangicariobat(addForm)" -->
        <form >
          <p *ngIf="!peringatanawalpopup">Masukan Minimal 1 kata kunci untuk pencarian anda</p>
          <p *ngIf="peringatanawalpopup" style="color: red;">Masukan Minimal 1 kata kunci untuk pencarian anda</p>
          <div class="form-group">
            <label for="forEmail">kategori</label>
            <select ngModel class="form-select" aria-label="Default select example" id="kategori" name="kategori">
              <option *ngFor="let k of pilihankategori" [value]="k.id">{{k.name}}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="forPassword">Kata Kunci</label>
            <div class="input-group">
              <input ngModel class="form-control me-2" type="search" id="katakunci" name="katakunci"
                placeholder="Cari obat dan alat kesehatan" aria-label="Search">
            </div>

            <div class="form-check">
              <input ngModel class="form-check-input" type="radio" name="jenisobat" id="obatbebas" value="1" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Hanya Cari Obat Bebas(tanpa resep)
              </label>
            </div>
            <div class="form-check">
              <input ngModel class="form-check-input" type="radio" name="jenisobat" id="obatkeras" value="2">
              <label class="form-check-label" for="flexRadioDefault1">
                Cari Semua Obat(termasuk obat keras)
              </label>

            </div>
            <div>
              <h3>Harga</h3>
            </div>
            <div>
              <div class="row align-items-center">
                <div class="col">
                  <input ngModel type="number" class="form-control" id="minharga" name="minharga"
                    aria-describedby="emailHelp" placeholder="Harga Minimal" required>
                </div>
                <div class="col" style="text-align: center;"> sampai
                </div>
                <div class="col">
                  <input ngModel type="number" class="form-control" id="maxharga" name="maxharga"
                    aria-describedby="emailHelp" placeholder="Harga Maksimal" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button >test</button>
              <button type="button" class="btn btn-secondary" >atur ulang</button>
              <button type="submit" class="btn btn-primary" >Cari</button>
              <!-- (click)="reset(addForm)"
              (click)="reset(addForm)"
              [disabled]="addForm.invalid" -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


